# Общие системные и IDE файлы
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
.python-version
*.egg-info/
*.egg
dist/
build/
.env
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Poetry
poetry.lock
# (но обычно poetry.lock коммитят, если не используете requirements.txt)

# Тесты и покрытие
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# БД и миграции (если не хотите коммитить)
/migrations/*
!/migrations/__init__.
